# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Module 00
megaphone
phonebook
gbu

# Module 01
brainz
horde
hi
violence
sed
*.replace
harl
harlFilter

# Module 02
canonical

# Module 03
claptrap
scavtrap
fragtrap
