# VSCode
.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Subjects
*.pdf

# Module 00
module00/ex00/megaphone
module00/ex01/phonebook
module00/ex02/gbu

# Module 01
module01/ex00/brainz
module01/ex01/horde
module01/ex02/hi
module01/ex03/violence
module01/ex04/sed
module01/ex04/*.replace
module01/ex05/harl
module01/ex06/harlFilter

# Module 02
module02/ex00/canonical
module02/ex01/conversion
module02/ex02/operators

# Module 03
module03/ex00/claptrap
module03/ex01/scavtrap
module03/ex02/fragtrap
module03/ex03/diamondtrap

# Module 04
module04/ex00/polymorphism
module04/ex01/brain
module04/ex02/abstract
